body {
    background: #262628;

}
p{
    font-size: 40px;
    color: white;
}
.position{
    height: 100px;
    display: flex;
    position: fixed;
    right: 50px;
    bottom: 100px;
    left: 50%;
}
.white{
    display: flex;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 25px;
    position: relative;

}
.red{
    width: 100px;
    height: 100px;
    background: #ff0000;
    border-radius: 100%;
    position: absolute;
    bottom: 50px;
    left: 150px;
}