.block {
    background-color: #c57a08;
    height: 60px;
}
.text{
    background-color: #e9c706;
}
.block__bottom {
    background-color: #58059c;
    height: 294px;
    color: white;
    text-decoration: none;
}
.block__bottom li {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 3px;
    width: 100px;
    cursor: pointer;
}
.block__bottom a{
    color: white;
}